<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Voting App</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
  <div class="container">
  <div class="row">
  <h1 style="text-align:center;">Voting Portal</h1>
  
  </div>
     
<li>
<p>
Candidate 1 <button> Vote</button>
</p>
<p>
Candidate 2 <button> Vote</button>
</p>
<p>
Candidate 3 <button> Vote</button>
</p>
<p>
Candidate 4 <button> Vote</button>
</p>
</li>

  </div>

</body>
</html>